@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(0, 89, 179, 0.7), rgba(0, 89, 179, 0.7)), url('../Images/Backgrounds/UpdatePassword.jpg');
    background-size: cover;
    background-repeat: repeat, no-repeat;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center
}

.container {
    width: 600PX;

    background: #FFF;
    margin: 32px auto;
}

.container {
    display: flex;
    align-items: stretch;
}

form {
    padding: 32px;
    ;
    flex: 1.3;

}

.text h1 {
    margin: 0;
    text-align: center;
}

.text p {
    margin: 0;
    text-align: center;
    color: rgba(0, 89, 179, 1);
}

.container-form {
    margin-bottom: 20px;
}

.container-form p {
    color: rgba(0, 89, 179, 1);
    margin: 5px 0px 5px 0px;
    font-weight: bold;
}

[type='text'],
[type='password'] {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px 0px 5px 0px;
    margin-bottom: 10px;
    outline: none;
    color: rgba(0, 0, 0, 0.7)
}

[type='submit'] {
    line-height: 3em;
    border: none;
    width: 100%;
    border-radius: 4px;
    background: rgba(0, 89, 179, 1);
    color: #fff;
}

[type='submit']:hover {
    background: rgba(0, 170, 255, 1);
    cursor: pointer;
    color: #fff;
}

aside {
    background: url('../Images/Backgrounds/UpdatePassword.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
}